apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-gitops
  namespace: default
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx-gitops
  template:
    metadata:
      labels:
        app: nginx-gitops
    spec:
      containers:
      - name: nginx
        image: nginx:1.21
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-gitops
  namespace: default
spec:
  selector:
    app: nginx-gitops
  ports:
  - port: 80
    targetPort: 80
  type: NodePort
